{# ##################################################################################### #}
{#    INPUT CLASS                                                                        #}
{# ##################################################################################### #}

{% set fieldClass = 'ui button submit positive' %}

{% if field.form.class is defined %}
    {% set fieldClass = 'ui button submit positive ' ~ field.form.class %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT ICON                                                                         #}
{# ##################################################################################### #}

{% set fieldIcon = null %}

{% if field.form.icon is defined %}
    {% set fieldIcon = field.form.icon %}
    {% set fieldClass = fieldClass ~ ' labeled icon' %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT                                                                              #}
{# ##################################################################################### #}

<button class="{{ fieldClass }}" type="submit" tabindex="1">

    {% if fieldIcon is not null %}
        <i class="{{ fieldIcon }} icon"></i>
    {% endif %}

    {{ field.label }}
    
</button>
