<div class="card">
  <div class="content">
    <div class="header">
      Mobile
      <a class="right floated" href="#phones">
        <i class="external link icon"></i>
      </a>
    </div>
    <div class="description">
      <i class="phone icon"></i>
      00 00 00 00 00
    </div>
    <div class="extra content">
      <div class="ui right floated label">Par défaut</div>
    </div>
  </div>
</div>
