<div class="three fields">

    {% include '@Template/Form/text.html.twig' with {
        'field' : {
            'name': 'name',
            'label': 'Nom',
            'value': attr.name
        }
    } %}

    {% include '@Template/Form/text.html.twig' with {
        'field' : {
            'name': 'value',
            'label': 'Valeur',
            'value': attr.value
        }
    } %}

    {% if attr.unit is not null %}

        {% include '@Template/Form/select.html.twig' with {
            'field' : {
                'name': 'unit',
                'label': 'Unité',
                'value': attr.unit,
                'form': {
                    'values': attr.units
                }
            }
        } %}

    {% endif %}
</div>
