

{% extends "@Template/_Layout/empty_layout.html.twig" %}

{% block body_class %}login{% endblock %}

{% block body %}

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui primary image header">
                <img src="/img/li-logo.png" class="image">
                <div class="content">
                    SIL Platform
                </div>
            </h2>
            <form class="ui large form" action="/login" method="POST">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="at icon"></i>
                            <input type="text" name="email" placeholder="Adresse email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="field left aligned">
                        <div class="ui toggle checkbox">
                            <input name="public" type="checkbox">
                            <label>Se souvenir de moi</label>
                        </div>
                    </div>
                    <div class="ui fluid large primary submit button">S'identifier</div>
                    <div class="ui divider"></div>
                    <p>
                        <a href="#">Mot de passe oublié ?</a>
                    </p>
                </div>

                <div class="ui error message"></div>

            </form>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.ui.form').form({
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Veuillez saisir votre addresse email'
                            }, {
                                type: 'email',
                                prompt: 'Veuillez saisir une addresse email valide'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Veuillez saisir un mot de passe'
                            }
                        ]
                    }
                }
            });
        });
    </script>
{% endblock %}
