{% extends "@Template/_View/List/list.html.twig" %}


{% block page_header %}
    <div class="ui basic right floated">
        <div class="ui labeled icon top left dropdown button primary">
            <i class="cogs icon"></i>
            <span class="text">Actions</span>
            <div class="menu">
                <a class="item" href="/product/create">
                    <i class="plus circle icon"></i>
                    Nouveau produit
                </a>
            </div>
        </div>
    </div>

    {{ parent() }}
{% endblock %}

{% block page_content %}

    {{ widget.table({
        headers: list.headers,
        data: list.elements,
        actions: list.actions,
        allowSelection: true
    }) }}

{% endblock %}
