<div class="ui centered vertical segment">
    <div class="ui top attached blue block header">
        Promotions
    </div>
    <div class="ui attached segment">

        <table class="ui blue celled table">
            <tbody>
                <tr>
                    <td class="right aligned">
                        <div class="ui green label image">
                            <i class="tag icon"></i>Première commande
                            <div class="detail">PREUMS10</div>
                        </div>
                    </td>
                    <td class="collapsing right aligned">
                        -10 €
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="">
                    <th class="right aligned">
                        Total:
                    </th>
                    <th class="right aligned">
                        -10 €
                    </th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
