<div class="ui centered vertical segment">
    <div class="ui top attached blue block header">
        Total
    </div>
    <div class="ui attached segment">

        <table class="ui blue celled table">
            <tbody>
                <tr>
                    <td class="right aligned">
                        <b>Total HT :</b>
                    </td>
                    <td class="right aligned">
                        1792 €
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">
                        <b>Taxes :</b>
                    </td>
                    <td class="right aligned">
                        358.4 €
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">
                        <b>Promotions :</b>
                    </td>
                    <td class="right aligned">
                        -10 €
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="">
                    <th class="right aligned">
                        <b>Total :</b>
                    </th>
                    <th class="right aligned">
                        <b>2140.4 €</b>
                    </th>
                </tr>
            </tfoot>

        </table>
    </div>
</div>
