<div class="ui clearing segment">
    <div class="ui grid">
        <div class="four column row">

            <div class="left floated column left aligned">
                <div class="ui left labeled icon button disabled prev step">
                    Étape précédente
                    <i class="angle left icon"></i>
                </div>
            </div>

            <div class="column center aligned">
                <a class="ui left labeled icon button" href="/product">
                    Annuler
                    <i class="undo icon"></i>
                </a>
            </div>

            <div class="right floated column right aligned">
                <div class="ui green right labeled icon button next step">
                    Étape suivante
                    <i class="angle right icon"></i>
                </div>
            </div>

        </div>

    </div>
</div>
