<div class="mini ui buttons">
    <div class="primary mini ui button">
        <i class="eye icon"></i>
        Voir
    </div>
    <div class="secondary mini ui floating dropdown icon button">
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">
                <i class="archive icon"></i>
                Archiver
            </div>
            <div class="item">
                <i class="cube icon"></i>
                Gérer les stocks
            </div>
            <div class="item">
                <i class="check circle outline icon"></i>
                Activer
            </div>
        </div>
    </div>
</div>
