<div class="inline field">
    <div class="ui toggle checkbox">
        <input name="{{ field.name }}" tabindex="0" class="hidden" type="checkbox" {% if field.value == true %}checked="checked"{% endif %}>
        <label>{{ field.label }}</label>
    </div>
</div>
