<div class="ui calendar field" data-type="datetime">
    <label>{{ field.label }}</label>
    <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text" placeholder="{{ field.label }}">
    </div>
</div>
