{% macro field_group(view, fields, editable) %}
    {% import _self as common %}
    {% spaceless %}
        {{ common.display_show_group(view, fields) }}
        {% if editable == true %}
            {{ common.display_form_group(view, fields, true) }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro display_show_group(view, fields) %}
    {% spaceless %}
        <table class="ui very basic striped celled table show data">
            <tbody>
                {% for fieldname in fields %}
                    <tr>
                        {% set field = attribute(view, fieldname) %}
                        <td class="right aligned four wide">
                            <strong>{{ field.label }}</strong>
                        </td>
                        <td>{{ field.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endmacro %}

{% macro display_form_group(view, fields, withSubmit) %}
    {% spaceless %}
        <form class="ui form data" method="POST" action="">
            {% for fieldname in fields %}
                {% set field = attribute(view, fieldname) %}

                {% include '@Template/Form/' ~ field.form.type ~ '.html.twig' with {
                    'field' : field
                } %}
            {% endfor %}
            {% if withSubmit == true %}
                <div class="ui divider"></div>
                <button class="ui button labeled icon submit positive right floated" type="submit">
                    <i class="save icon"></i>
                    Enregistrer
                </button>
                <a class="ui button labeled icon left floated close">
                    <i class="undo icon"></i>
                    Annuler
                </a>
            {% endif %}
        </form>
    {% endspaceless %}
{% endmacro %}
