{% block breadcrumbs %}
    <div class="ui breadcrumb">

        {% for link in breadcrumbs %}
            {% if not loop.first %}
                <i class="right angle icon divider"></i>
            {% endif %}
            <a href="{{link.href}}" class="section {{loop.last ? 'active' }}">{{link.label}}</a>
        {% endfor %}

    </div>
{% endblock %}
