{% block breadcrumbs %}
    <div class="ui breadcrumb">
        <a class="section">Tableau de bord</a>
        <i class="right angle icon divider"></i>
        <a class="section">Liste des contacts</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Glenn Cavarlé</div>
    </div>
{% endblock %}
