<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

    <head>
        {% block stylesheets %}
            <link rel="stylesheet" href="/dep/semantic-ui-css/semantic.min.css">
            <link rel="stylesheet" href="/dep/semantic-ui-calendar/dist/calendar.min.css"/>
            <link href="/css/style.css" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>

    <body class="pushable">

        <!-- [SIDE BAR] -->
        {% include '@Template/Layout/side-bar.html.twig' %}

        <!-- [TOP BAR] -->
        {% include '@Template/Layout/top-bar.html.twig' %}

        <div class="pusher">
            <div id="content" class="full hight">
                <div class="ui stackable basic segment">

                    {% include '@Template/Layout/breadcrumbs.html.twig' %}
                    {% block content %}{% endblock %}

                </div>
            </div>
        </div>

        {% include '@Template/Modal/_confirmation.html.twig' %}

        {% block javascripts %}
            <script src="/dep/jquery/dist/jquery.min.js"></script>
            <script src="/dep/semantic-ui-css/semantic.min.js"></script>
            <script src="/dep/jquery-address/src/jquery.address.js"></script>
            <script type="text/javascript" src="/dep/semantic-ui-calendar/dist/calendar.min.js"></script>
            <script src="/js/modal-confirmation.js"></script>
            <script src="/js/script.js"></script>
        {% endblock %}
    </body>

</html>
