<html>

    <head>
      {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
      {% endblock %}
    </head>

    <body class="pushable">

        <!-- [SIDE BAR] -->
        {% include '@Template/Layout/side-bar.html.twig' %}

        <!-- [TOP BAR] -->
        {% include '@Template/Layout/top-bar.html.twig' %}

        <div class="pusher">
            <div id="content" class="full hight">
                <div class="ui stackable basic segment">

                    {% include '@Template/Layout/breadcrumbs.html.twig' %}
                    {% block content %}{% endblock %}

                </div>
            </div>
        </div>

        {% include '@Template/Modal/_confirmation.html.twig' %}

        {% block javascripts %}
          <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
          <script src="/js/modal-confirmation.js"></script>
          <script src="/js/script.js"></script>
        {% endblock %}
    </body>

</html>
