<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

    <head>
        {% block stylesheets %}
            {% if theme == 'dark'%}
                <link rel="stylesheet" href="/css/semantic-superhero.min.css">
                <link rel="stylesheet" href="/css/app-dark.css">
            {% else %}
                <link rel="stylesheet" href="/css/semantic-librinfo.min.css">
                <link rel="stylesheet" href="/css/app.css">
            {% endif %}

            <link rel="icon" type="image/png" href="/img/favicon.png"/>
        {% endblock %}
    </head>

    <body class="{% spaceless %}{% block body_class %}{% endblock %}{% endspaceless %}">

        {% block content %}{% endblock %}

        {% block javascripts %}
            <script src="/dep/jquery/dist/jquery.min.js"></script>
            <script src="/js/semantic.min.js"></script>
        {% endblock %}
    </body>

</html>
