{% import "@Template/Macro/_menu.html.twig" as _menu %}
<div id="sidebar" class="ui sidebar vertical accordion menu visible left">
    <a class="item" href="#">

        <h2 class="ui header">
            <img src="{{template.logo}}"/>
            {{template.title}}
        </h2>
    </a>

    {{ _menu.menu(menu) }}

</div>
