<div class="ui fixed inverted menu">

    <a id="sidebar-toggle" class="icon item" title="Afficher/Masquer la barre latérale">
        <i class="sidebar icon"></i>
    </a>

    {#
    <div class="item secondary inverted borderless">
        <div class="ui transparent inverted icon input">
            <input placeholder="Recherche..." type="text">
            <i class="search link icon"></i>
        </div>
    </div>
    #}

    {% include '@Template/Layout/breadcrumbs.html.twig' %}

    <div class="right menu">
        <div class="ui floated simple dropdown item secondary inverted ">
            <i class="user circle icon"></i>
            John Doe

            <i class="dropdown icon"></i>
            <div class="menu">
                {% if theme == 'dark'%}
                    <a href="?theme=default" class="item">
                        <i class="user outline icon"></i>
                        Thème clair
                    </a>
                {% else %}
                    <a href="?theme=dark" class="item">
                        <i class="user secret icon"></i>
                        Thème sombre
                    </a>
                {% endif %}
                <a href="#" class="item">
                    <i class="id card outline icon"></i>
                    Mon compte
                </a>
                <a href="#" class="item">
                    <i class="sign out alternate icon"></i>
                    Déconnexion
                </a>
            </div>
        </div>
    </div>
</div>
