<div class="ui fixed blue inverted menu">

    <a id="sidebar-toggle" class="icon item" title="Afficher/Masquer la barre latérale">
        <i class="sidebar icon"></i>
    </a>

    <div class="item secondary inverted borderless">
        <div class="ui transparent inverted icon input">
            <input placeholder="Recherche..." type="text">
            <i class="search link icon"></i>
        </div>
    </div>

    <div class="ui right floated dividing empty item"></div>
    <div class="right menu">
        <div class="ui floated simple dropdown item secondary inverted ">
            <i class="user circle icon"></i>
            John Doe

            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="#" class="item">
                    <i class="id card outline icon"></i>
                    Mon compte
                </a>
                <a href="#" class="item">
                    <i class="sign out icon"></i>
                    Déconnexion
                </a>
            </div>
        </div>
    </div>
</div>
