<div class="ui bottom attached tab segment" data-tab="channels">

    <div class="ui two column stackable grid">
        <div class="eight wide column">
            <div class="ui segment">
                <h4 class="ui header">Informations générales</h4>
                <div class="ui divider"></div>
                {{ macros.field_group(view, ['name', 'description']) }}
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui segment">
                <h4 class="ui header">Attributs</h4>
                <div class="ui divider"></div>
                <table class="ui very basic striped celled table">
                    <tbody>
                        <tr>
                            <td class="right aligned">
                                <strong>Poid</strong>
                            </td>
                            <td>42.5 Kg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
