<div class="ui top attached tabular menu">
    <a class="active item" data-tab="general">Général</a>
    <a class="item" data-tab="variants">Variantes</a>
    <a class="item" data-tab="channels">Canaux</a>

    <div class="right menu">
        <div class="ui dropdown item">
            Actions
            <div class="menu">
                <div class="item">
                    Modifier...
                </div>
                <div class="item">
                    Cloner...
                </div>
            </div>
        </div>
    </div>
</div>
