<div class="ui top attached tabular menu">
    <a class="active item" data-tab="general">Général</a>
    <a class="item" data-tab="variants">Variantes
        <div class="floating ui blue label">6</div>
    </a>

    <div class="right menu">
        <div class="ui dropdown item">
            Actions
            <div class="menu">
                <div class="item">
                    <a href="/product/create">
                        <button class="ui labeled compact fluid icon green button">
                            <i class="plus circle icon"></i>
                            Nouveau produit
                        </button>
                    </a>
                </div>
                <div class="item">
                    <a href="/product">
                        <button class="ui labeled compact fluid icon yellow button">
                            <i class="archive icon"></i>
                            Archiver
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
