<div class="ui centered vertical segment">
    <div class="ui top attached blue block header">
        Prix
    </div>
    <div class="ui attached segment description">
        À partir de
        <a class="ui tag large blue label">128 €</a>
    </div>
</div>
