{% extends "@Template/Layout/index.html.twig" %}

{% block content %}

    <div class="ui grid">

        <div class="twelve wide column">
            {% block page_header %}
                <h1 class="ui header">
                    <i class="rounded sticky {{page.header.icon}} outline icon"></i>
                    <div class="content">
                        {{ page.header.title}}
                        <div class="sub header">{{ page.header.description}}</div>
                    </div>
                </h1>
            {% endblock %}
        </div>

        <div class="four wide column">

            {% block page_actions %}{% endblock %}

        </div>
    </div>
    <div class="ui divider"></div>
    {% block page_content %}{% endblock %}

{% endblock %}
