{% extends "@Template/_View/Show/show.html.twig" %}


{% block page_content %}
    <div class="ui stackable grid">

        <div class="sixteen wide column">

            


        </div>

    </div>
{% endblock %}
